extends layout

block title
  title= "Lvl8 Scoreboard: Round " + dateFormatter(round.added) + " - completed"

block content
  h1
    | Lvl8 Round Scoreboard: 
    = dateFormatter(round.added)
  p
    | This round is 
    status = round.status
    include includes/status_label.jade
    | .
  p 
    | There 
    if (round.participants.length > 1)
      | were 
    else
      | was 
    | #{round.participants.length} 
    if (round.participants.length > 1)
      | participants 
    else
      | participant 
    | this round, and the flag was first captured in #{minCapturer.time} seconds.
  p 
    | The flag was 
    b #{round.flag}.
  h2 Results
  p 
    small If you click on the rows, you can see even more information! :)
  table.resultsTable.table
    thead
      tr
        th.number #
        th.nick IRC Nick
        th.seconds Seconds
        th.requests Requests
    tbody
      each participant, k in round.participants
        a(name="#{participant.nick}")
        tr.resultsRow(data-participant="#{participant.nick}")
          td.number= k+1
          td.nick= participant.nick
          td.seconds= participant.time
          td.requests= participant.reqs
        tr.extraData(class="participant-#{encodeURIComponent(participant.nick)}")
          td
          td(colspan=3)
            div
              b Chunk Breakdown
              table.chunkBreakdown.table
                thead
                  tr
                    th.number #
                    th.seconds Seconds
                    th.cumSeconds Cumulative Seconds
                    th.requests Requests
                    th.cumRequests Cumulative Requests
                tbody
                  - var cS = 0, cR = 0
                  - for (var i = 0; i < round.chunks; i++) {
                    tr
                      td.number= i+1
                      td.seconds= participant.chunkTimes[i]
                      td.cumSeconds= (cS += participant.chunkTimes[i])
                      td.requests= participant.chunkReqs[i]
                      td.cumRequests= (cR += participant.chunkReqs[i])
                  - }